<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="https://i.ytimg.com/vi/YCaGYUIfdy4/maxresdefault.jpg">
    <meta charset="UTF-8">
    <title>Users followed by {{name}}</title>
    <style type="text/css">
        a:link {
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
<h1 style="font-size:130%; font-family:Verdana, sans-serif;">Users followed by {{ name }}</h1>
<table>
{% for f in followers %}

    <tr>
        <td align=center width="80"><img src="{{f['image']}}"></td>
        <td style="font-size:70%; font-family:Verdana, sans-serif">
            <a href="https://twitter.com/{{ f['screen_name'] }}">{{ f['name'] }}</a><br>
            {{ f['followers'] }} followers<br>
            Since {{ f['created'] }}
        </td>
    </tr>

{% endfor %}
</table>

</body>
</html>
